*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial,sans-serif;
}
body{
    display:flex;
    flex-direction: column;
    min-height:100vh;   /* vh es una medida del viewport */
}
nav{
   display:flex; 
   align-items: center;
   justify-content: flex-end; /* tira los links hasta la derecha*/
   margin-right:30px;
   margin-top:14px;
}
nav a{
    font: size 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color:black;
    padding: 5px 6.7px;
}
nav a:hover{
    text-decoration: underline; /* subrayado*/
    opacity:0.85;
}
.container{
    flex:1;
}

.container .googleLogo{
    display: block;
    margin:0px auto; /* ALINEA AL CENTRO HORIZONTALMENTE*/
    margin-top: 198px;
    margin-bottom: 20px;
    width:272px;
    height: 92px;
}

.searchBox{
    width:560px;
    margin:0px auto; /* ALINEA AL CENTRO HORIZONTALMENTE*/
    position: relative;/* posiciona relativamente a las coordenadas de top, bottom, left y right*/
    margin-top:-8px ;
    text-align: center;
}
.searchBox .searchBar {
    display:block;
    border: 1px solid #ddd;
    color: black;
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 25px;
    width:100%;
    transition: box-shadow 100ms; /* preparamos la animacion para el hover*/
    outline: none; /* le quitamos el outline al elemento input*/
}
.searchBox .searchBar1{
    display:block;
    border: 1px solid #ddd;
    color: black;
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 25px;
    width:100%;
    transition: box-shadow 100ms; /* preparamos la animacion para el hover*/
    outline: none; /* le quitamos el outline al elemento input*/
}
.searchBox .searchBar:hover,.searchBox .searchBar1:hover{
    color:rgb(37, 37, 37);
    border:1px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05),
                0 0 2px rgba(0, 0, 0, 0.05),
                0 0 3px rgba(0, 0, 0, 0.05),
                0 0 4px rgba(0, 0, 0, 0.05),
                0 0 5px rgba(0, 0, 0, 0.05),
                0 0 4px rgba(0, 0, 0, 0.05),
                0 0 5px rgba(0, 0, 0, 0.05)
}

.searchBox .search-icon{
    width: 15px;
    height: 15px;
    opacity:0.4;
    position: absolute;
    top:16px;
    left:14px;
}
.searchBox .searchButton{
    border: 1px;
    padding: 9px 15px;
    color:#666;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 28px;
    outline: none;
    cursor: pointer; /* ponemos como cursor la manita, se pueden poner varias cosas*/
}
.searchBox .searchButton:hover{
    color:rgb(37, 37, 37);
    border:1px solid lightgray;
}

.lang{
    margin-top:30px;
    text-align: center;
    font-size: 13px;
    color:#111;
}
.lang a{
    margin-left: 5px;
    color:#1a0dab;   
}

.searchBox .search-icon-blue{
    width: 30px;
    height: 30px;
    position: absolute;
    top:7px;
    left:520px;
}

